In [1]:
import pandas as pd
import requests
import re
import nltk
import wikimodel

In [2]:
wiki = wikimodel.WikiModel("../../../enwiki")

In [3]:
wiki_dict = {}
for doc in wiki.docs():
    wiki_dict[doc.title] = doc.text

In [4]:
id_to_title = {}

In [5]:
def normalize_text(text):
    text = text.replace('"', ' ')
    text = text.replace('\n', ' ')
    text = text.replace('[note]', ' ')
    text = text.replace('(disambiguation)', ' ')
    text = text.replace('[citation needed]', ' ')
    text = text.replace('[update]', ' ')
    text = text.replace('[contradictory]', ' ')
    text = text.replace('[page needed]', ' ')
    text = re.sub(r'\[relevant\?\s*\–\s*discuss\]', ' ', text)
    text = text.replace('[clarification needed]', ' ')
    text = re.sub(r'\[[a-z]*\?\]', ' ', text)
    text = re.sub(r'\[nb\s[0-9]*\]', ' ', text)
    text = re.sub(r'\[nb\]', ' ', text)
    text = re.sub(r'\[[a-z]\]', ' ', text)
    text = re.sub(r'\[[A-Z]\]', ' ', text)
    text = re.sub(r'\[[0-9]+\]', ' ', text)
    text = re.sub(r'[a-z]\.\^', ' ', text)
    text = " ".join(text.split())
    return text

In [6]:
def is_sent_contain_entities(e1, e2, sent):
    contain = False
    if e1 in e2:
        if e1 in sent:
            sent_temp = sent.replace(e1, '<<<ENTITY1>>>')
            if e2 in sent_temp:
                contain = True
    elif e2 in e1:
        if e2 in sent:
            sent_temp = sent.replace(e2, '<<<ENTITY2>>>')
            if e1 in sent_temp:
                contain = True
    else:
        if e1 in sent and e2 in sent:
            contain = True
    return contain

In [7]:
def get_list_sents_dump(title): 
    if title == 'N/A':
        return []
    
    try:
        paragraph = wiki_dict[title]
        paragraph = normalize_text(paragraph)
        sentences = nltk.sent_tokenize(paragraph)
        return sentences
    except KeyError:
        return []

In [8]:
def get_wikipedia_title(wikidata_id):
    if wikidata_id == 'NUM':
        return 'N/A'
    
    try:
        title = id_to_title[wikidata_id]
    except KeyError:
        url = 'https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&props=sitelinks&ids=' + wikidata_id + '&sitefilter=enwiki'
        r = requests.get(url)
        result = r.json()
        try:
            title = result['entities'][wikidata_id]['sitelinks']['enwiki']['title']
        except KeyError:
            title = 'N/A'

        id_to_title[wikidata_id] = title
    
    return title

In [41]:
triples_data = pd.read_csv('../train_triples.tsv', sep='\t', header=None, names=['e1_id', 'e2_id', 'rel_id', 'e1_label', 'e2_label', 'rel_label'])
valid = pd.read_csv('../valid_triples.tsv', sep='\t', header=None, names=['e1_id', 'e2_id', 'rel_id', 'e1_label', 'e2_label', 'rel_label'])
merged = triples_data.merge(valid, how='left', indicator=True)
triples_data = merged[merged['_merge'] == 'left_only']
triples_data = triples_data.reset_index(drop=True)

/home/rifkiaputri/anaconda2/envs/nlp_project/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [42]:
triples_data

,e1_id,e2_id,rel_id,e1_label,e2_label,rel_label,_merge
0,Q20950174,Q20966585,P659,NCBI homo sapiens annotation release 107,Genome assembly GRCh38,genomic assembly,left_only
1,Q223122,Q22006653,P462,Three Way,color,color,left_only
2,Q7762756,Q838368,P462,The Sea Ghost,Black-and-white,color,left_only
3,Q3795055,Q22006653,P462,The Past Is a Foreign Land,color,color,left_only
4,Q8053816,Q838368,P462,"Yira, yira",black-and-white,color,left_only
5,Q692208,Q22006653,P462,Whatever Works,colour,color,left_only
6,Q15632404,Q22006653,P462,Bandits of the West,colour,color,left_only
7,Q3940740,Q838368,P462,Romanticismo,Black-and-white,color,left_only
8,Q19683032,Q838368,P462,"La télévision, œil de demain",Black-and-white,color,left_only
9,Q3989650,Q838368,P462,The Tip,Black-and-white,color,left_only
10,Q204120,Q3133,P462,flag of the British Virgin Islands,green,color,left_only
11,Q315356,Q22006653,P462,Schultze Gets the Blues,color,color,left_only
12,Q1188409,Q22006653,P462,Scooby-Doo Meets the Boo Brothers,colour,color,left_only
13,Q15121556,Q838368,P462,The Treachery of Broncho Billy's Pal,Black-and-white,color,left_only
14,Q318651,Q838368,P462,Mr. & Mrs. Smith,black-and-white,color,left_only
15,Q1440674,Q22006653,P462,Joschka & Mr. Fischer,color,color,left_only
16,Q1059536,Q22006653,P462,The Other,color,color,left_only
17,Q221202,Q22006653,P462,Home Alone 2: Lost in New York,colour,color,left_only
18,Q7130648,Q22006653,P462,Pandippada,colour,color,left_only
19,Q1170157,Q22006653,P462,The Claim,colour,color,left_only
20,Q21480328,Q22006653,P462,Five Nights in Maine,colour,color,left_only
21,Q17274414,Q22006653,P462,Cantinflas,color,color,left_only
22,Q25999817,Q22006653,P462,The Mystery of the Express Car,colour,color,left_only
23,Q18150245,Q838368,P462,Gildersleeve's Ghost,black-and-white,color,left_only
24,Q2788727,Q22006653,P462,Texas Across the River,colour,color,left_only
25,Q25434555,Q22006653,P462,Cold of Kalandar,color,color,left_only
26,Q331210,Q22006653,P462,Above Us Only Sky,colour,color,left_only
27,Q265592,Q22006653,P462,Space Mutiny,colour,color,left_only
28,Q3985992,Q838368,P462,The Black Diamond Express,Black-and-white,color,left_only
29,Q47137921,Q22006653,P462,Diary of a Nanny 3,colour,color,left_only
...,...,...,...,...,...,...,...
2300328,Q6520918,NUM,P2044,Lelkom,294,elevation above sea level,left_only
2300329,Q2259504,NUM,P2044,Vojna Vas,161,elevation above sea level,left_only
2300330,Q31482830,NUM,P2044,Banaybanay,152,elevation above sea level,left_only
2300331,Q696074,NUM,P2044,Juliaca,3825,elevation above sea level,left_only
2300332,Q49745152,NUM,P2044,Big Timber Airport,4493.9,elevation above sea level,left_only
2300333,Q31380610,NUM,P2044,Salen,640,elevation above sea level,left_only
2300334,Q32751209,NUM,P2044,Eselekh,674,elevation above sea level,left_only
2300335,Q27821805,NUM,P2044,Cerro Tarahumara,1675,elevation above sea level,left_only
2300336,Q31870710,NUM,P2044,Kleivdalsbekken,4,elevation above sea level,left_only
2300337,Q21861779,NUM,P2044,Weiherberg,515,elevation above sea level,left_only
2300338,Q21889883,NUM,P2044,Harriss Spring,767,elevation above sea level,left_only
2300339,Q16504001,NUM,P2044,Bosjön,157.2,elevation above sea level,left_only
2300340,Q23832824,NUM,P2044,Aïne Adaïa,721,elevation above sea level,left_only
2300341,Q22580078,NUM,P2044,Bomboshi,714,elevation above sea level,left_only
2300342,Q25312895,NUM,P2044,Sambangan,222,elevation above sea level,left_only
2300343,Q31542224,NUM,P2044,Cerro Huaricocha,1325,elevation above sea level,left_only
2300344,Q32835251,NUM,P2044,Cypress Lake Dam,34,elevation above sea level,left_only
2300345,Q25161070,NUM,P2044,Pasir Kahiyangan,177,elevation above sea level,left_only
2300346,Q31815852,NUM,P2044,Eden Township Wildlife Area,279,elevation above sea level,left_only
2300347,Q31683404,NUM,P2044,Cerro El Capomo,1496,elevation above sea level,left_only
2300348,Q32437011,NUM,P2044,Baluokot Creek,328,elevation above sea level,left_only
2300349,Q21837728,NUM,P2044,Isla Mullhall,34,elevation above sea level,left_only
2300350,Q31568120,NUM,P2044,Sandhyllia,504,elevation above sea level,left_only
2300351,Q31498761,NUM,P2044,Brattelia,380,elevation above sea level,left_only
2300352,Q2543082,NUM,P2044,Dobrun,106,elevation above sea level,left_only
2300353,Q23820392,NUM,P2044,Teniet Ben Zeroual,1056,elevation above sea level,left_only
2300354,Q32159221,NUM,P2044,Brannhaugen,180,elevation above sea level,left_only
2300355,Q32241065,NUM,P2044,Glödalsbäck,575,elevation above sea level,left_only
2300356,Q34766111,NUM,P2044,Rasova Bara,65,elevation above sea level,left_only
2300357,Q20221275,NUM,P2044,Carrizal Segundo,171,elevation above sea level,left_only

In [49]:
# filtered_sents = []
len_triples = len(triples_data)
len_idx = len_triples - 1
max_sent = 10

for i in range(2357375, len_triples):
    print(str(i) + '/' + str(len_idx))
    
    e1_label = triples_data['e1_label'][i]
    e2_label = triples_data['e2_label'][i]
    e1_id = triples_data['e1_id'][i]
    e2_id = triples_data['e2_id'][i]
    rel_id = triples_data['rel_id'][i]
    rel_label = triples_data['rel_label'][i]

    sents = get_list_sents_dump(e1_label) + get_list_sents_dump(e2_label)

    sent_idx = 0
    for sent in sents:
        is_valid = is_sent_contain_entities(e1_label, e2_label, sent)
        if is_valid == True:
            filtered_sents.append((e1_id, e2_id, rel_id, e1_label, e2_label, rel_label, sent))
            sent_idx += 1
        if sent_idx > max_sent:
            break

In [50]:
len(filtered_sents)

223533

In [45]:
with open('../train_sentences.tsv', 'w') as f:
    for item in filtered_sents:
        f.write(item[0] + '\t' + item[1] + '\t' + item[2] + '\t' + item[3] + '\t' + item[4] +
                '\t' + item[5] + '\t' + item[6] + '\n')
f.closed

True