In [7]:
import pandas as pd
from nltk import agreement

In [11]:
labels = pd.read_csv('../gold_per_annotator_v2.tsv', sep='\t')

In [12]:
labels

     ann_1  ann_2  ann_3
0        0      0      0
1        0      0      0
2        0      0      0
3        1      1      1
4        0      0      0
5        1      1      1
6        0      0      0
7        0      0      0
8        1      1      1
9        0      0      0
10       0      0      0
11       1      1      1
12       0      0      0
13       0      0      0
14       0      0      0
15       0      0      0
16       0      0      0
17       0      1      1
18       0      0      0
19       0      1      1
20       1      1      1
21       1      1      1
22       1      1      0
23       1      1      0
24       0      0      0
25       1      1      1
26       0      0      0
27       1      1      1
28       0      0      0
29       0      0      0
..     ...    ...    ...
370      0      0      0
371      0      0      0
372      0      0      0
373      0      0      0
374      0      0      0
375      0      0      0
376      0      0      0
377      0      0      0
378      0      0      0
379      0      0      0
380      0      0      0
381      1      1      1
382      0      0      0
383      0      0      0
384      0      0      0
385      0      0      0
386      0      0      0
387      1      1      1
388      0      0      0
389      0      0      0
390      0      0      0
391      1      1      1
392      0      0      0
393      0      0      0
394      0      0      0
395      1      1      1
396      1      1      1
397      0      0      0
398      0      0      0
399      1      1      1

[400 rows x 3 columns]

In [13]:
rater1 = labels['ann_1']
rater2 = labels['ann_2']
rater3 = labels['ann_3']

taskdata=[[0,str(i),str(rater1[i])] for i in range(0,len(rater1))]+[[1,str(i),str(rater2[i])] for i in range(0,len(rater2))]+[[2,str(i),str(rater3[i])] for i in range(0,len(rater3))]
ratingtask = agreement.AnnotationTask(data=taskdata)
print("kappa " +str(ratingtask.kappa()))
print("fleiss " + str(ratingtask.multi_kappa()))
print("alpha " +str(ratingtask.alpha()))
print("scotts " + str(ratingtask.pi()))

kappa 0.8185617589044294
fleiss 0.8187847008019743
alpha 0.8188932346485237
scotts 0.8187421864705827